@tailwind base;

h1,
h2,
h3,
h4 {
	@apply font-display;
}

body {
	@apply font-body;
}

p b,
p strong {
	@apply font-display;
}

.input-field {
	@apply appearance-none w-full bg-white text-gray-900 border border-transparent transition-colors duration-150 px-4 py-2 rounded shadow-sm leading-tight inline-block;
}

.input-field:focus {
	@apply border-teal-900 outline-none;
}

@tailwind components;
@tailwind utilities;
